name: Argos Visual Testing

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  visual-testing:
    name: Visual Testing with Argos
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Nix dependencies
        uses: ./.github/actions/nix

      - name: Install NodeJS dependencies
        uses: ./.github/actions/pnpm

      - name: Build Storybook
        run: pnpm --filter @shipfox/react-ui storybook:build

      - name: Upload to Argos
        env:
          ARGOS_TOKEN: ${{ secrets.ARGOS_TOKEN }}
        run: pnpm --filter @shipfox/react-ui argos
