name: Continuous integration

on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch: {}

jobs:
  ci:
    name: Continuous integration
    runs-on: shipfox-4vcpu-ubuntu-2404
    permissions:
      contents: read
      id-token: write
      actions: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Install Nix dependencies
        uses: ./.github/actions/nix
      - name: Install NodeJS dependencies
        uses: ./.github/actions/pnpm
      - name: Install Playwright browsers
        working-directory: ./libs/react/ui
        run: node_modules/.bin/playwright install --with-deps chromium
      - name: Run CI
        uses: ./.github/actions/ci
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          BUILD_NUMBER: ${{ github.run_number }}
          BUILD_ARCH: ${{ matrix.arch }}
