name: Continuous integration

on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch: {}

jobs:
  ci:
    name: Continuous integration
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      actions: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - name: Install Nix dependencies
        uses: ./.github/actions/nix
      - name: Install NodeJS dependencies
        uses: ./.github/actions/pnpm
      - name: Install Playwright browsers
        working-directory: ./libs/react/ui
        shell: nix develop --command bash {0}
        run: node_modules/.bin/playwright install --with-deps chromium
      - name: Run CI - test
        uses: ./.github/actions/ci
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          BUILD_NUMBER: ${{ github.run_number }}
          BUILD_ARCH: ${{ matrix.arch }}
