name: Publish packages

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: 'Name of the package to publish (leave empty to publish all packages)'
        required: false
        type: string
        default: ''

jobs:
  publish:
    name: Publish packages
    permissions:
      contents: write
      pull-requests: write
    runs-on: shipfox-2vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install Nix dependencies
        uses: ./.github/actions/nix
      - name: Install NodeJS dependencies
        uses: ./.github/actions/pnpm
        with:
          ignore-scripts: true
      - name: Bump version
        shell: nix develop --command bash {0}
        run: pnpm changeset version
      - name: Format code
        shell: nix develop --command bash {0}
        run: pnpm turbo run --affected check -- --fix
      - name: Build packages
        shell: nix develop --command bash {0}
        run: pnpm turbo run --affected build type
      - name: Publish specific package
        if: inputs.package_name != ''
        shell: nix develop --command bash {0}
        run: pnpm publish --access public --no-git-checks --filter ${{ inputs.package_name }}
        env:
          NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
      - name: Publish all packages
        if: inputs.package_name == ''
        shell: nix develop --command bash {0}
        run: pnpm publish --access public --no-git-checks --recursive
        env:
          NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
      - uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.DEPLOY_BOT_GPG_PRIVATE_KEY }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.DEPLOY_BOT_PERSONAL_ACCESS_TOKEN }}
          committer: shipfox-deploy-bot <deploy-bot@shipfox.io>
          author: shipfox-deploy-bot <deploy-bot@shipfox.io>
          commit-message: New release
          title: New release
          body: A new release of the packages was created.
          branch: release
          branch-suffix: short-commit-hash
